* {
	/* These properties apply to all*/
	border: none;
	border-radius: 0;
	font-family: MesloLGS Nerd Font;
	font-size: 14px;
	min-height: 0;
}

/* The background of the waybar */
window#waybar {
	background: #161616;
	color: #f2f4f8;
}

tooltip {
	/* Tooltip shows up when we hover over something */
	background: #161616;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}

#workspaces button {
	/* Non-active workspace button */
	padding: 5px;
	color: #2a2a2a;
	margin-right: 5px;
}

#workspaces button.active {
	/* Active workspace button */
	color: #ffffff;
}

#workspaces button.focused {
	color: #161616;
	background-color: #161616;
	border-radius: 10px;
}

#workspaces button.urgent {
	color: #161616;
	background-color: #f2f4f8;
	border-radius: 10px;
}

/* These settings apply when we hover over the workspace number */
#workspaces button:hover {
	color: #161616;
	background-color: #f2f4f8;
	/* Roundness of the border when hovering */
	border-radius: 1px;
}

#cpu, #memory, #clock, #battery, #pulseaudio, #network, #workspaces, #tray, #backlight {
	background-color: #161616;
	padding: 3px 10px;
	margin: 3px 0px;
}

#tray {
	border-radius: 10px;
	margin-right: 4px;
}

#workspaces {
	background-color: #161616;
	border-radius: 0px;
	padding-right: 5px;
}

#clock {
	color: #f2f4f8;
	border-radius: 10px;
}

#network {
	color: #fab387;
	border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
	color: #cac7ff;
}

#battery{
	color: #caffbf;
	border-radius: 0 10px 10px 0;
}

#backlight{
	color: #9bf6ff;
}

#cpu {
	color: #a0c4ff;
}

#memory {
	color: #ffc6ff;
}
